.btn{
    width:50px;
    float: left;
    position: relative;
}
#link{
    position: absolute;
    width: 39.5px;
    left: 83px;    
}
.btn:hover {
    transform: translateY(-10px);
    z-index: 3;
}
#twit{
    position: absolute;
    left:46px;
}
