img{
    width: 50px;
    float:left;
    padding-left: 1px;
}
#bar{
    height: 60px;
    border: solid 1px grey;
    width: 160px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-left: 8px;
    border-radius: 50px;
}